<FilesMatch "^(about|help|Animals|admin|config)\.html$">
    Order Deny,Allow
    Deny from all
</FilesMatch>

<Files "config.html">
    Order Deny,Allow
    Deny from all
</Files>

<Files "home.html">
    Order Deny,Allow
    Deny from all
</Files>

<Files "Mammals.html">
    Order Deny,Allow
    Deny from all
</Files>

<Files "Fishes.html">
    Order Deny,Allow
    Deny from all
</Files>

<Files "Birds.html">
    Order Deny,Allow
    Deny from all
</Files>

<Files "Reptiles.html">
    Order Deny,Allow
    Deny from all
</Files>

<Files "home.php">
    Order Allow,Deny
    Allow from all
</Files>