* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    scroll-behavior: smooth;

}

:root {
    --h2-font: 3em;
    --p-font: 1.1em;
    --bg-color: pink;
    --big-font: 6rem;

}

body {
    background-color: rgb(217, 217, 217);
    margin: 0;
    padding: 0;
    display: flex;
    height: 100%;
    min-height: 100vh;
    overflow-x: hidden;
}

header {
    background-color: rgba(255, 0, 106, 0.5);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 170px;
    color: aquamarine;

}

/* .filter-wrapper {
    position: fixed;
    top: 200px; 
    left: 0;
    width: 100%;
    max-height: calc(100vh - 200px); 
    overflow-y: auto; 
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: rgb(217, 217, 217);
    padding: 10px;
    flex-direction: row-reverse;
  }
   */

.navbar {
    display: flex;

}

.navbar a {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 25px;
    font-weight: 500;
    color: rgb(255, 255, 255);
    padding: 10px 22px;
    border-radius: 4px;
    transition: ease .40s;
}

.img2 {
    width: 24px;
    height: 24px;
}

.navbar a:hover {
    background: rgb(166, 255, 231);
    color: blueviolet;
    box-shadow: 5px 10px 30px rgb(198, 202, 193);
}

#icon-menu {
    font-size: 35px;
    color: white;
    cursor: pointer;
    display: none;
}

.icons div {
    color: rgb(255, 255, 255);
    font-size: 35px;
    margin-left: 2px;
    cursor: pointer;
}

.logo {
    color: rgb(255, 255, 255);
    font-size: 35px;
    font-weight: 20;
    letter-spacing: 1px;
}

section {
    padding: 90px 3%;
}

h1 {
    font-size: 70px;
    font-family: 'Roboto', sans-serif;
    color: white;
}

p {
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    color: white;
}

.optiuni p {
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
}

.optiuni {
    display: flex;
}

.images {
    width: 100px;
    height: 150px;
}

.images p:hover {
    color: rgb(255, 0, 200);
}

.images p {
    font-size: 20px;
    text-align: center;
    font-family: 'Roboto', sans-serif;
}

.optiuni {

    padding-left: 23%;
    padding-right: 25%;
}

.optiuni div {
    margin-right: 15%;

}

@media (max-width:1205px) {
    header {
        padding: 15px 3%;
        transition: .2s;
    }


    .icons {
        padding-left: 3%;
        transition: .2s;
    }

    .navbar li {
        text-align: center;
    }

    #icon-menu {
        display: inline-block;
    }

    .navbar {
        position: absolute;
        top: 100%;
        right: -100%;
        width: 300px;
        height: 40vh;
        background: black;
        display: flex;
        align-items: center;
        flex-direction: column;
        padding: 50px 20px;
        transition: all .55s ease;
    }

    .navbar a {
        display: block;
        margin: 7px 0;
        margin-left: 0;
    }

    .navbar.open {
        right: 0;
    }
}

@media (max-width:1107px) {
    .optiuni {
        padding-top: 10%;
        padding-left: 0;
        padding-right: 20%;
        transition: .3s;
    }

    .main img {
        width: 280px;
        height: 280px;
        grid-template-columns: repeat(auto-fill, minmax(180px, 180px));
    }

}

@media (max-width:663px) {
    header {
        background-color: rgb(255, 111, 135);
        transition: 0.5s;
    }

    .main {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        row-gap: 20px;
        grid-template-columns: repeat(auto-fill, minmax(120px, 120px));
    }

    .main img {
        width: 120px;
        height: 120px;
    }


}

.page {
    grid-template-columns: 1fr;
    grid-template-rows: 20% 80%;
    background-color: rgb(217, 217, 217);
    display: flex;
    height: 100vh;
    margin: 0 10px 0 0;
    overflow: auto;
}

.main {
    grid-row: 2 / 3;
    position: absolute;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
    margin-top: 140px;
    margin-left: 320px;
    width: calc(100vw - 320px);
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 300px));
    column-gap: 10px;
    row-gap: 10px;
    overflow: auto;
}

.filter-wrapper {
    position: absolute;
    top: 200px;
    left: 50px;
    width: 300px;
    max-height: calc(100vh - 200px);
    overflow-y: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: rgb(217, 217, 217);
    padding: 10px;
    flex-direction: row-reverse;
    margin-right: 10px;
    margin-left: 20px;
    background-image: linear-gradient(to top, pink, rgb(255, 178, 203), pink);
    border-radius: 30px;
}

.options h3 {
    font-weight: bold;
    color: white;
    font-size: 35px;
}

.options p {
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 2px;
}

.options select {
    padding: 5px;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    margin-right: 10px;
    margin-bottom: 5px;
    width: 177px;
    border-radius: 30px;
    margin-bottom: 10px;
}


.options a {
    color: black;
    text-decoration: none;
}


/* .options button {
    width: 60px;
    height: 30px;
    padding: 5px;
    background-color: #73bb77;
    color: white;
    border: none;
    cursor: pointer;
    width: auto;
    border-radius: 30px;

    margin-left: 65px;
}

.options button:hover {
    background-color: #4CAF50;
} */

.options button {
    width: 100px;
    height: 30px;
    padding: 5px;
    margin-top: 5px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 30px;
    margin-left: 40px;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;

    transition-property: background-color;
    transition-duration: 0.3s;
    transition-timing-function: ease;
}

.options button:hover {
    background-color: #73bb77;
    background: linear-gradient(to bottom, #fe7864, #73bb77);

}

.options button:focus {
    outline: none;
}

.options button:active {
    transform: scale(0.95);
}

.img2 {
    width: 24px;
    height: 24px;
}

img {
    width: 300px;
    height: 300px;
    object-fit: cover;
    object-position: center;
}

a {
    text-decoration: none;
    color: white;
    font-size: 20px;
    font-weight: bold;
    align-items: center;
}

/*
    button[type="submit"] {
        cursor: pointer;
      }
  

      .search-container input[type="text"] {
        height: 40px;
      }

      .species li img {
        width: 200px;
        height: 100px;
      }
      #usericon{
        width: 30px;
        height: 50px;
      }
    */
/* .search_button {
    margin-left: 65px;
} */

.search_box {
    height: 30px;
    display: flex;
    cursor: pointer;
    padding: 10px 20px;
    background: white;
    border-radius: 30px;
    align-items: center;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.3);

}

.search_box:hover input {
    width: 150px;
}

.search_box input {
    width: 0;
    outline: none;
    border: none;
    font-weight: 500;
    transition: 0.8s;
    background: transparent;
}

.search_box a .fas {
    color: #1daf;
    font-size: 18px;
}

@media (max-width: 1340px) {
    .search_box:hover input {
        width: 100px;
    }
}

@media (max-width: 720px) {
    .search_box:hover input {
        width: 100px;
    }
}