.infomeniu {
    width: 100%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, auto));
    align-items: start;
    gap: 2em;
    text-align: center;
}

.infobar p {
    font-size: 15px;
    color: white;
    font-family: 'Times New Roman', Times, serif;
    margin-top: 10px;
}

.infobar h1 {
    font-size: 30px;
    color: white;
}

body {
    background: url("images/pad2.jpg");
    background-position: center center;
    background-size: cover;

}

.helpsection {
    margin-top: 3%;
}