@font-face {
    font-family: jungle;
    src: url(Heartjungle.ttf);
}

body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    background-image: url('papagal_login.svg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    height: 100vh;
    overflow: hidden;

}


.banner {
    width: 100%;
    height: 60px;
    margin-top: -24px;
    margin-left: 17px;
    background-color: transparent;
}

.banner h1 {
    font-family: 'jungle', 'Viga', sans-serif;
    padding-top: 7px;
    padding-left: 10px;
    font-size: 50px;
    color: white;
}

input {
    font-family: 'Montserrat', sans-serif;
}


.left {
    position: absolute;
    top: 50%;
    left: 25%;
    transform: translate(-50%, -50%);
    width: 400px;
    background: #FDC503;
    border-radius: 10px;
}

.left h1 {
    text-align: center;
    padding: 0 0 20px 0;
    border-bottom: 3px solid #24DFFE;
}

.left form {
    padding: 0 40px;
    box-sizing: border-box;
}

form .txt_field {
    position: relative;
    background-color: #ecccef;
    border-radius: 15px;
    margin: 30px 0;
}

.txt_field input {
    width: 100%;
    padding: 0 5px;
    height: 40px;
    font-size: 16px;
    border: none;
    background: none;
    outline: none;
}

.txt_field label {
    position: absolute;
    top: 50%;
    left: 20px;
    color: #5e5e5e;
    transform: translateY(-50%);
    font-size: 16px;
    pointer-events: none;
    transition: .5s;
}

.txt_field span::before {
    content: '';
    position: absolute;
    top: 40px;
    left: 12px;
    width: 0%;
    height: 2px;
    background: cyan;
    transition: .5s;
}

.txt_field input:focus~label,
.txt_field input:valid~label {
    top: -10px;
    color: black;
}

.txt_field input:focus~span::before,
.txt_field input:valid~span::before {
    width: 93%;
}

.pass {
    margin: -5px 0 20px 5px;
    color: black;
    cursor: pointer;
}

.pass:hover {
    text-decoration: underline;
}

input[type="submit"] {
    width: 100%;
    height: 50px;
    border: 2px solid;
    border-color: #FDC503;
    background: #20D8FB;
    border-radius: 25px;
    font-size: 18px;
    color: #000000;
    font-weight: 700;
    cursor: pointer;
    outline: none;

}

input[type="submit"]:hover {
    border-color: white;
    transition: .5s;
}

.signup_link {
    margin: 30px 0;
    text-align: center;
    font-size: 16px;
    color: #232222;
}

.signup_link a {
    color: #230de7;
    text-decoration: none;
}

.signup_link a:hover {
    text-decoration: underline;
}

.right {
    position: absolute;
    top: 10%;
    right: 14%;
    font-size: 110px;
}

.right * {
    color: rgb(65, 244, 133);
    font-family: jungle;
}

.explore {
    margin-bottom: 1px;
}

.the {
    margin-top: 1px;
    margin-bottom: 1px;
    margin-left: 100px;
}

.wildlife {
    margin-top: 1px;
}

/*iphone se*/
@media (max-width: 500px) {
    .banner {
        margin-left: auto;
    }

    .banner h1 {
        font-size: 35px;
        padding-top: 40px;
        text-align: center;
    }

    .right {
        width: 300px;
        background-color: transparent;
    }

    .signup_link {
        margin-top: 40px;
        margin-bottom: 1px;
        transform: translateY(-50%);
        font-size: 16px;
        pointer-events: none;
        transition: .5s;
        color: #5e5e5e;
        background-color: #ecccef;
        height: 43px;
        border-radius: 15px;
    }

    .signup_link a {
        color: rgb(217, 141, 1);
    }
}


/*iphone se*/
@media (max-width: 1200px) {

    body {
        background-position: 50%;
    }

    .right {
        font-size: 0px;
    }

    /*facem transparent fundalul de la formular*/
    .left {
        top: 50%;
        left: 40%;
        width: 300px;

    }

    .signup_link {
        margin-top: 40px;
        padding-top: 10px;
        margin-bottom: 1px;
        transform: translateY(-50%);
        font-size: 16px;
        pointer-events: none;
        transition: .5s;
        color: #5e5e5e;
        background-color: #ecccef;
        height: 30px;
        border-radius: 15px;
    }

    .signup_link a {
        color: rgb(217, 141, 1);
    }
}