@font-face {
    font-family: jungle;
    src: url(Heartjungle.ttf);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    scroll-behavior: smooth;

}

:root {
    --h2-font: 3em;
    --p-font: 1.1em;
    --bg-color: pink;
    --big-font: 6rem;

}

/* body {} */

header {
    background-color: rgba(255, 0, 106, 0.5);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 80px;
    color: aquamarine;

}

.navbar {
    display: flex;

}

.navbar a {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 25px;
    font-weight: 500;
    color: rgb(255, 255, 255);
    padding: 10px 22px;
    border-radius: 4px;
    transition: ease .40s;
}

.navbar a:hover {
    background: rgb(166, 255, 231);
    color: blueviolet;
    box-shadow: 5px 10px 30px rgb(198, 202, 193);
}

#icon-menu {
    font-size: 35px;
    color: white;
    cursor: pointer;
    display: none;
}

.icons div {
    color: rgb(255, 255, 255);
    font-size: 35px;
    margin-left: 2px;
    cursor: pointer;
}

.logo {
    font-family: jungle, Vega, sans-serif;
    color: rgb(255, 255, 255);
    font-size: 35px;
    font-weight: 20;
    letter-spacing: 1px;
}

section {
    padding: 170px 3%;
}

.home {
    position: relative;
    width: 100%;
    height: 100vh;
    background: url(images/t2.jpg);
    background-position: center center;
    background-size: cover;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    align-items: center;
}

.home-text {
    padding-top: 5%;
}

.home-text h1 {
    font-size: 70px;
    font-family: 'Roboto', sans-serif;
    color: white;
}

.home-text p {
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    color: white;
}

.optiuni p {
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
}

.optiuni {
    display: flex;
}

.images {
    width: 100px;
    height: 150px;
}

.images p:hover {
    color: rgb(255, 0, 200);
}

.images p {
    font-size: 20px;
    text-align: center;
    font-family: 'Roboto', sans-serif;
}

.optiuni {

    padding-left: 23%;
    padding-right: 25%;
}

.optiuni div {
    margin-right: 15%;

}


.search_box {
    height: 30px;
    display: flex;
    cursor: pointer;
    padding: 10px 20px;
    background: white;
    border-radius: 30px;
    align-items: center;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.3);

}

.search_box:hover input {
    width: 250px;
}

.search_box input {
    width: 0;
    outline: none;
    border: none;
    font-weight: 500;
    transition: 0.8s;
    background: transparent;
}

.search_box a .fas {
    color: #1daf;
    font-size: 18px;
}


@media (max-width:1315px) {
    .search_box:hover input {
        width: 100px;
    }
}

@media (max-width:1205px) {
    header {
        padding: 15px 3%;
        transition: .2s;
    }


    .icons {
        padding-left: 3%;
        transition: .2s;
        display: flex;
    }

    /* .user-details {} */

    .navbar li {
        text-align: center;
    }

    #icon-menu {
        display: inline-block;
    }

    .navbar {
        position: absolute;
        top: 100%;
        right: -100%;
        width: 300px;
        height: 40vh;
        background: rgb(255, 143, 234);
        display: flex;
        align-items: center;
        flex-direction: column;
        padding: 50px 20px;
        transition: all .55s ease;
    }

    .navbar a {
        display: block;
        margin: 7px 0;
        margin-left: 0;
    }

    .navbar.open {
        right: 0;
    }

    /*search bar*/
    .search_box:hover input {
        width: 100px;
    }
}

@media (max-width:1107px) {
    .optiuni {
        padding-top: 10%;
        padding-left: 0;
        padding-right: 20%;
        transition: .3s;
    }
}

/* Media query for screen width less than 720px */
@media (max-width: 720px) {
    .search_box:hover input {
        width: 100px;
    }
}


@media (max-width:663px) {
    header {
        background-color: rgb(255, 111, 135);
        transition: 0.5s;
    }

    .optiuni {
        padding-top: 10%;
        padding-left: 40%;
        padding-right: 20%;
        transition: .3s;
        display: flex;
        flex-direction: column;
    }

    .home {
        width: 100%;
        height: 100%;
        background: url("images/t2.jpg");
        background-position: center center;
        background-size: cover;
        background-repeat: no-repeat;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        align-items: center;
    }

    .images {
        margin-bottom: 0;
    }

    .home-text h1 {
        font-size: 40px;
        font-family: 'Roboto', sans-serif;
        color: white;
    }

    .home-text p {
        margin-top: 10%;
        font-size: 20px;
        font-family: 'Roboto', sans-serif;
        color: white;
    }
}

/*
    button[type="submit"] {
        cursor: pointer;
      }
  

      .search-container input[type="text"] {
        height: 40px;
      }

      .species li img {
        width: 200px;
        height: 100px;
      }
      #usericon{
        width: 30px;
        height: 50px;
      }
    */
.logo {
    font-family: jungle;
    color: rgb(255, 255, 255);
    font-size: 35px;
    font-weight: 20;
    letter-spacing: 1px;
    text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.3);

    animation: breathe 1.5s infinite ease-in-out;

}


/* .logo:hover{
      } */
@keyframes breathe {

    0%,
    100% {
        transform: scale(1);
        opacity: 1;
    }

    50% {
        transform: scale(1.05);
        opacity: 0.8;
    }
}

.img2 {
    transition: transform 0.5s;
}

.img2:hover {
    transform: scale(1.3);
}

.search_box {
    position: relative;
  }
  
  #suggestions-container {
    position: absolute;
    top: 120%;
    left: 0;
    width: 100%;
    background: white;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    z-index: 999;
    padding: 0; /* Set initial padding to 0 */
    transition: padding 1.5s !important; /* Add transition for smooth effect */
  }
  
  .search_box:hover #suggestions-container {
    padding: 10px !important; /* Apply padding when hovering over the search box */
  }
  .button{
    background-color: rgba(255, 255, 255, 0);
}

.search_box button.search-button {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    outline: none; /* Remove the outline when button is focused */
  }
  
  .search_box button.search-button i {
    font-size: 16px;
   
  }

  .wild-grove{
    font-family: jungle;
    margin-bottom: 15px;    
  }

  .wild-grove:hover{
    color:orange;
  }
  .home-text p{
    font-family:Viga;
    line-height: 1.5;
  }