@font-face {
    font-family: jungle;
    src: url(Heartjungle.ttf);
}




body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    background-image: url('camile_enter.jpg');
    background-position: 0%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    height: 50vh;
    overflow: hidden;
}

input {
    font-family: 'Montserrat', sans-serif;
}

.banner {
    width: 100%;
    height: 60px;
    margin-top: -24px;
    margin-left: 17px;
    background-color: transparent;
}

.banner h1 {
    font-family: 'jungle', 'Viga', sans-serif;
    padding-top: 7px;
    padding-left: 10px;
    font-size: 50px;
    color: white;
}

.right {
    position: absolute;
    top: 50%;
    right: -5%;
    transform: translate(-50%, -50%);
    width: 400px;
    background: #1c94f0;
    border-radius: 10px;
}

.right h1 {
    text-align: center;
    padding: 0 0 20px 0;
    border-bottom: 3px solid #DB8C53;
}

.right form {
    padding: 0 40px;
    box-sizing: border-box;
}

form .txt_field {
    position: relative;
    background-color: #ecccef;
    border-radius: 15px;
    margin: 30px 0;
}

.txt_field input {
    width: 100%;
    padding: 0 5px;
    height: 40px;
    font-size: 16px;
    border: none;
    background: none;
    outline: none;
}

.txt_field label {
    position: absolute;
    top: 50%;
    left: 20px;
    color: #5e5e5e;
    transform: translateY(-50%);
    font-size: 16px;
    pointer-events: none;
    transition: .5s;
}

.txt_field span::before {
    content: '';
    position: absolute;
    top: 40px;
    left: 12px;
    width: 0%;
    height: 2px;
    background: orange;
    transition: .5s;
}

.txt_field input:focus~label,
.txt_field input:valid~label {
    top: -10px;
    color: yellow;
}

.txt_field input:focus~span::before,
.txt_field input:valid~span::before {
    width: 93%;
}

.pass {
    margin: -5px 0 20px 5px;
    color: #a6a6a6;
    cursor: pointer;
}

.pass:hover {
    text-decoration: underline;
}

input[type="submit"] {
    width: 100%;
    height: 50px;
    border: 2px solid;
    background: #DB8C53;
    border-radius: 25px;
    font-size: 18px;
    color: #e8f4fb;
    font-weight: 700;
    cursor: pointer;
    outline: none;
}

input[type="submit"]:hover {
    border-color: #ba5812;
    transition: .5s;
}

.signup_link {
    margin: 30px 0;
    text-align: center;
    font-size: 16px;
    color: #232222;
}

.signup_link a {
    color: yellow;
    text-decoration: none;
}

.signup_link a:hover {
    text-decoration: underline;
}

.reset {
    margin-bottom: 25px;
}

/*iphone se*/
@media (max-width: 500px) {
    .banner {
        margin-left: auto;
    }

    .banner h1 {
        font-size: 35px;
        padding-top: 40px;
        text-align: center;
    }

    .right {
        width: 300px;
        background-color: transparent;
    }

    .signup_link {
        margin-top: 40px;
        margin-bottom: 1px;
        transform: translateY(-50%);
        font-size: 16px;
        pointer-events: none;
        transition: .5s;
        color: #5e5e5e;
        background-color: #ecccef;
        height: 43px;
        border-radius: 15px;
    }

    .signup_link a {
        color: rgb(217, 141, 1);
    }
}


@media (max-width: 1200px) {
    .right {
        top: 50%;
        left: 50%;
    }


    /*facem transparent fundalul de la formular*/
    .right {
        width: 300px;
        background-color: transparent;
    }

    .signup_link {
        margin-top: 40px;
        margin-bottom: 1px;
        transform: translateY(-50%);
        font-size: 16px;
        pointer-events: none;
        transition: .5s;
        color: #5e5e5e;
        background-color: #ecccef;
        height: 43px;
        border-radius: 15px;
    }

    .signup_link a {
        color: rgb(217, 141, 1);
    }
}